body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
    font-family: 'Ubuntu', sans-serif;
}

/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

header, footer {
    background-color: #333;
    color: #ddd;
    padding: 20px;
    text-align: center;
}

aside {
    background-color: #f7f7f7;
    text-align: center;
    padding-top: 40px;
}