@using Microsoft.AspNetCore.Identity
<!DOCTYPE html>

@inject SignInManager<IdentityUser> SignInManager

<html xmlns="http://www.w3.org/1999/xhtml" lang="en-ie">
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="http://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/content/site.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-lg">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a asp-controller="Home" asp-action="Index" class="navbar-brand">James' Blog</a></li>
                <li><a asp-controller="Post" asp-action="CreatePost">Create Post</a></li>
                <li><a asp-controller="Account" asp-action="Login">Login</a></li>
            </ul>
            @if (SignInManager.IsSignedIn(User))
            {
                <form asp-area="" asp-controller="Account" asp-action="Logout"
                      method="post" class="navbar-right">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="javascript:document.getElementById('logoutForm').submit()"></a></li>
                     </ul>
                </form>
            }
            else
            {
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-controller="Account" asp-action="Login">Login</a></li>
                </ul>
            }
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <aside class="col-sm-2"></aside>
            <section class="col-sm-8">
                @RenderBody()
            </section>
            <aside class="col-sm-2"></aside>
        </div>
    </div>

    <footer class="container-fluid">
        <h1>Footer</h1>
    </footer>

</body>
</html>
